@use 'variables.scss';

@use 'components/header.scss';
@use 'components/flight-search-view.scss';
@use 'components/flight-search-input-group.scss';
@use 'components/button.scss';
@use 'components/input.scss';
@use 'components/popup.scss';
@use 'components/loading-spinner.scss';
@use 'components/city-list.scss';


.App{
    width:100vw;
    height: 100vh;
    padding:0;
    margin:0;
    font-family: 'Open Sans',sans-serif;
}

.fade-enter {
    opacity: 0;

}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-out;
}