@import './_mixins';

@import 'variables.scss';
@import 'components/header.scss';
@import 'components/flight-search-view.scss';
@import 'components/flight-search-input-group.scss';
@import 'components/button.scss';
@import 'components/input.scss';
@import 'components/popup.scss';
@import 'components/loading-spinner.scss';
@import 'components/city-list.scss';
@import 'components/modal.scss';
@import 'components/flight-selection-view.scss';
@import 'components/switch-toggle.scss';
@import 'components/flight-results.scss';
@import 'components/flight-info.scss';
@import 'components/flight-details.scss';
@import 'components/flights-card-group.scss';
@import 'components/flight-card.scss';
@import 'components/toggle-info.scss';
@import 'components/flight-selection-result-view.scss';
@import 'components/result-summary-wrapper.scss';
@import 'components/error-view.scss';


.App {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.fade-enter {
    opacity: 0;

}

.fade-enter.fade-enter-active {
    opacity: 0.5;
    transition: opacity 250ms ease-out;
}

.fade-enter-done {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.5;
    transition: opacity 250ms ease-out;
}

.fade-exit-done {
    opacity: 0;
    transition: opacity 250ms ease-out;
}