//background colors

$primary-bg-color:#063048;
$secondary-bg-color:#fff;
$third-bg-color:rgb(96 105 119 / 60%);
$fourth-bg-color:#E81932;
$fifth-bg-color:#f9f9f9;
$sixth-bg-color:#232b38;


// colors
$primary-color:#000;
$secondary-color:#fff;
$third-color:#5A5A5A;
$fourth-color:#4f5b66;





