//background colors

$primary-bg-color:#063048;
$secondary-bg-color:#fff;
$third-bg-color:rgb(96 105 119 / 60%);
$fourth-bg-color:#E81932;
$fifth-bg-color:#f9f9f9;
$sixth-bg-color:#232b38;
$modal-bg-color:rgb(0,0,0,0.45);
$passive-bg-color:#f9f9f9;


// colors
$primary-color:#000;
$secondary-color:#fff;
$third-color:#545454;
$fourth-color:#4f5b66;





