.button {
    padding: 5px;
    transition: all 0.2s ease-in;

}

.button:active {
    transform: scale(0.95);
    transition: all 0.2s ease-in;
}

.button:hover {
    cursor: pointer;
}

.button.search-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $sixth-bg-color;
    color: $secondary-color;
    border: none;
    padding: 10px;
    min-width: 7rem;
    height: 3.85rem;
    font-size: 1rem;

    @include for-mobile-portrait {
        width: 100%;
        height: 4rem;
        font-size: 2rem;

    }

    @include for-tablet-portrait {
        width: 100%;
        height: 4rem;
        font-size: 2rem;

    }

    @include for-mobile-landscape {
        min-width: 4rem;
    }

    img {
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 15px;
        color: $secondary-color;
        align-self: center;

        @include for-mobile-portrait {
            width: 2rem;
            height: 2rem;

        }

        @include for-tablet-portrait {
            width: 2rem;
            height: 2rem;

        }

        @include for-mobile-landscape {
            margin-left: 0;
        }




    }

    span {
        @include for-mobile-landscape {
            display: none;
        }
    }
}

.button.search-input-button.passenger,
.button.search-input-button.navigate {

    img {

        align-self: flex-end;
        width: 30px;
        height: 30px;
        margin-left: unset;

        @include for-mobile-portrait {
            width: 3rem;
            height: 3rem;

        }

        @include for-tablet-portrait {
            width: 3rem;
            height: 3rem;

        }



    }

    span {
        position: absolute;
        top: 5px;
        right: 5px;

        @include for-mobile-portrait {
            top: 8px;
            right: 8px;

        }

        @include for-tablet-portrait {
            top: 8px;
            right: 8px;

        }
    }

    .plus-icons {
        position: relative;
        margin-left: 3px;
        display: inline-flex;
        margin-top: 10px;
        font-weight: bold;
        color: $fourth-color;


    }

}

.button.search-input-button.passenger {
    img:not(:first-of-type) {
        margin-left: -12px;
    }

    @include for-mobile-landscape {
        width: 7rem;

        span {
            display: block;
        }

    }
}

.button.search-input-button.navigate {
    background-color: $fourth-bg-color;
    width: 100%;
    min-width: unset;

    @include for-mobile-portrait {
        min-width: 15rem;
        height: 4rem;

    }

    @include for-tablet-portrait {
        min-width: 15rem;
        height: 4rem;

    }

    @include for-mobile-landscape {
        width: 4rem;

    }

    img {
        align-self: center;
        width: 40px;
        height: 40px;
    }


}