@use '../variables.scss';


.city-list {
    background-color: variables.$secondary-bg-color;
    position: absolute;
    display: none;
    bottom: -50%;
    color: variables.$third-color;
    padding: 10px 20px;
    min-height: 50%;
    min-width: 22.75%;
    left: 32.5%;
}

.city-list.departure {
    left: 4%;
}

.city-list.show {
    display: block;
}