@use '../variables.scss';

.flight-details-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: .6rem;
    position: relative;

    .category {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: .75rem .5rem;
        gap: 1.25rem;
        background-color: variables.$secondary-bg-color;
        box-shadow: 2px 5px 13px rgb(0 0 0 / 10%);

        .category-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 0.75rem;

            .radio-button-wrapper {
                display: flex;
                align-items: center;

                input {
                    margin: 0 5px 0 0;
                }

                label {
                    font-size: 0.65rem;
                    font-weight: bold;
                    color: variables.$fourth-color;
                    text-decoration: underline;
                }
            }

            .price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 0.75rem;
                    width: max-content;
                }

                .amount {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }

        .accordion-arrow {
            img {
                width: .75rem;
                height: .75rem;
            }
            .arrow-image{
                transition: transform 0.2s ease-in-out;
                -webkit-transition:transform 0.2s ease-in-out;
            }
            .arrow-image.selected{
                transform: rotate(180deg);
                transition: transform 0.2s ease-in-out;
                -webkit-transition:transform 0.2s ease-in-out;
            }
        }
     
    }


    .card-group {
        display: none
    }
}