@use '../variables.scss';


.flight-selection-view {
    display: flex;
    flex-direction: column;

    padding: 8%;
    color: variables.$third-color;

    .flight-selection-wrapper {
        max-width: 70vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .flight-query-summary {
            .title {
                background-color: variables.$fourth-bg-color;
                color: variables.$secondary-color;
                padding: 5px 3rem;
            }

            .from-to {
                font-size: 1.5rem;
                margin-top: 1.5rem;
            }
        }

    }



}