@use '../variables.scss';

.flight-info-wrapper {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 1.25rem 2.25rem;
    gap: 3rem;
    background-color: variables.$secondary-bg-color;
    box-shadow: 2px 5px 13px rgb(0 0 0 / 20%);

    .flight-route {
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 0.5rem;

        .time,
        .cities {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .airports {
            display: grid;
            grid-template-columns: min-content auto min-content;
            gap: 1rem;

            .line {
                margin: auto;
                width: 100%;
                height: 0;
                border-top: 0.5px solid variables.$third-color;
                border-bottom: 0.5px solid variables.$third-color;
            }
        }

        .cities {
            span {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 0.75rem;
            }
        }
    }

    .flight-duration {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 0.75rem;
        }

        .duration {
            font-size: 1.2rem;
            font-weight: bold;

        }

    }
}