@use '../variables.scss';

.cards-group{
    display:none;
    grid-template-columns:32.5% 32.5% 32.5%;;
    gap:0.75rem;
    padding: 10px;
    background-color: variables.$secondary-bg-color;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    height: 0px;
  
    
}

.cards-group.show{
    display: grid;
    height:300px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}