.flight-details-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: .6rem;
    position: relative;

    @include for-mobile-portrait {
        grid-template-columns: 1fr 1fr;
    }

    @include for-tablet-portrait {
        grid-template-columns: 1fr 1fr;
    }

    .category {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: .75rem .5rem;
        gap: 1.25rem;
        background-color: $secondary-bg-color;
        box-shadow: 2px 5px 13px rgb(0 0 0 / 10%);
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;


        .category-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 0.75rem;
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;

            @include for-mobile-portrait {
                gap: .5rem;
                flex-direction: column;
            }

            @include for-tablet-portrait {
                gap: .5rem;
                flex-direction: column;
            }

            .radio-button-wrapper {
                display: flex;
                align-items: center;

                input {
                    margin: 0 5px 0 0;
                    width: 1.25rem;
                    height: 1.25rem;

                    @include for-mobile-portrait {
                        width: .75rem;
                        height: .75rem;
                    }

                    @include for-tablet-portrait {
                        width: .75rem;
                        height: .75rem;
                    }
                }

                label {
                    font-size: 0.65rem;
                    font-weight: bold;
                    color: $fourth-color;
                    text-decoration: underline;

                    @include for-mobile-portrait {
                        font-size: 1rem;
                    }

                    @include for-tablet-portrait {
                        font-size: 1rem;
                    }
                }
            }

            .price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .25rem;

                @include for-mobile-portrait {
                    gap: 1rem;
                }


                span {
                    font-size: 0.75rem;
                    width: max-content;

                    @include for-mobile-portrait {
                        font-size: 1rem;
                    }

                    @include for-tablet-portrait {
                        font-size: 1rem;
                    }

                }

                .amount {
                    font-size: 1.2rem;
                    font-weight: bold;

                    @include for-mobile-portrait {
                        font-size: 1rem;
                    }

                    @include for-tablet-portrait {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .accordion-arrow {
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;

            img {
                width: .75rem;
                height: .75rem;

                @include for-mobile-portrait {
                    width: .75rem;
                    height: .75rem;
                }

                @include for-tablet-portrait {
                    width: .75rem;
                    height: .75rem;
                }

            }

            .arrow-image {
                transition: transform 0.2s ease-in-out;
                -webkit-transition: transform 0.2s ease-in-out;
            }

            .arrow-image.selected {
                transform: rotate(180deg);
                transition: transform 0.2s ease-in-out;
                -webkit-transition: transform 0.2s ease-in-out;
            }
        }

    }

    .category.selected {
        margin-bottom: -1rem;
        transition: all 300ms ease-in-out 300ms;
        -webkit-transition: all 300ms ease-in-out 300ms;

        .category-wrapper,
        .accordion-arrow {
            margin-bottom: 1rem;
            transition: all 300ms ease-in-out 300ms;
            -webkit-transition: all 300ms ease-in-out 300ms;
        }
    }



}