.flight-search-layout {
    background-color: $primary-bg-color;
    width: 100%;
    height: 100%;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .layout-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: -20rem;

        @include for-mobile-portrait {
            padding: 1rem;
        }

        @include for-tablet-portrait {
            padding: 1rem;
        }

     

        .title-wrapper {
            text-align: center;
            margin: auto;

            :first-child {
                font-size: 2.25rem;
                margin-bottom: 0.5rem;
            }

            h1 {
                font-weight: 300;
                font-size: 2rem;
                line-height: 1;
                margin: 0;

            }

            @include for-mobile-portrait {
                :first-child {
                    font-size: 5rem;
                }

                h1 {
                    font-size: 4.5rem;
                }

                ;
            }

            @include for-tablet-portrait {
                :first-child {
                    font-size: 4rem;
                }

                h1 {
                    font-size: 3.5rem;
                }

                ;
            }

        }
    }


}