@use  '../variables.scss';


.search-input-group-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: variables.$third-bg-color;
    padding:30px;
    position: relative;
    .input{
        display:flex;
        align-items:center;
        justify-content: center;
        img {
            position: absolute;
            z-index: 2;
            left: 5px;
            height: 1.5rem;
            width: 1.5rem;
            margin-left:5px;
        }
    }
  
}