@use '../variables.scss';

.flight-results-wrapper {

    background-color: variables.$passive-bg-color;
    width: 100%;

    .flight-results-header {
        color: variables.$secondary-color;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: variables.$sixth-bg-color;
        gap: 1rem;
        padding: 10px;
        font-size: 0.75rem;
        border: 1px solid variables.$sixth-bg-color;

        .button {
            border: 1px solid variables.$secondary-color;
            border-radius: 5px;
            color: variables.$secondary-color;
            background-color: transparent;
            padding: 3px 15px;
        }
    }

    .flight-results-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid rgb(0, 0, 0, 0.1);

        .flight-result {
            display: grid;
            grid-template-rows: max-content max-content;
            position: relative;
            gap: 0.75rem;

            .result-wrapper {
                display: grid;
                grid-template-columns: max-content max-content;
                gap: .6rem;


            }

        }
    }
}