.flight-selection-view {
    display: flex;
    flex-direction: column;

    padding: 8%;
    color: $third-color;

    @include for-mobile-portrait{
        padding:12% 1%;
    }
    @include for-tablet-portrait{
        padding: 12% 1%;
    }
    @include for-laptop{
        padding: 12% 1%;
    }
    .flight-selection-wrapper {
        max-width: 70vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include for-mobile-portrait {
            padding:  1%;
            max-width: 99vw;
            margin: 0 5%;
        };
        
        @include for-tablet-portrait {
            padding:  1%;
            max-width: 99vw;
            margin: 0 5%;
        };

        @include for-laptop {
            padding: 1%;
            max-width: 99vw;
        };

        .flight-query-summary {
            .title {
                background-color: $fourth-bg-color;
                color: $secondary-color;
                padding: 5px 3rem;

                @include for-mobile-portrait {
                    font-size: 2.5rem;
                }
                
                
                
                @include for-tablet-portrait {
                    font-size: 2.5rem;
                }
            }

            .from-to {
                font-size: 1.5rem;
                margin-top: 1.5rem;

                    @include for-mobile-portrait {
                        font-size:3.5rem;
                    }
                    
                    
                    
                    @include for-tablet-portrait {
                        font-size:3.5rem;
                    }
                    
                    
            }
        }

    }



}