.card-wrapper {
    display: inline-grid;
    grid-template-rows: 20% 80%;
    position: relative;

    @include for-mobile-portrait {
        min-height: 300px;
    }

    @include for-tablet-portrait {
        min-height: 300px;
    }

    .card-title {
        color: $third-color;
        background-color: #f4f5f8;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-top: 2px;
        margin-right: 2px;
        ;

        @include for-mobile-portrait {
            font-size: 1rem;
        }

        @include for-tablet-portrait {
            font-size: 1rem;
        }

        .price {
            display: flex;

            @include for-mobile-portrait {
                font-size: 1rem;
            }

            @include for-tablet-portrait {
                font-size: 1rem;
            }

            .currency {
                font-size: 0.75rem;
                margin-top: 2px;
                margin-right: 2px;

                @include for-mobile-portrait {
                    font-size: .8rem;

                    margin-right: 5px;
                }

                @include for-tablet-portrait {
                    font-size: .8rem;

                    margin-right: 5px;
                }
            }
        }
    }

    .card-content {
        border: 1px solid rgb(0, 0, 0, 0.1);
        background-color: $secondary-bg-color;
        font-size: .75rem;

        @include for-mobile-portrait {
            font-size: .75rem;
        }

        @include for-tablet-portrait {
            font-size: .75rem;
        }

        .right {
            border-bottom: 1px solid rgb(0, 0, 0, 0.1);
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

        }
    }

    .button {
        position: absolute;
        bottom: 0;
        background-color: $fourth-bg-color;
        color: $secondary-bg-color;
        height: 3rem;
        border: none;
        width: 100%;
        font-weight: bold;

        @include for-mobile-portrait {
            height: 3rem;
            font-size: 1.25rem;
        }

        @include for-tablet-portrait {
            height: 3rem;
            font-size: 1.25rem;
        }
    }

    .button:disabled {
        background-color: lightgray;
        color: $third-color;
        cursor: not-allowed;
    }

    .button:disabled:active {
        transform: unset;
    }
}