@use '../mixins';


.header-wrapper {
    padding: 3rem 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;

    .header {
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 800;
        font-size: 1.5rem;
        color: $third-color;
        @include mixins.for-mobile-portrait {
            font-size: 2.25rem;
        };
        @media screen and (min-width:0) and (max-width: 767px) and (orientation: portrait) {
            margin-top: 10%;
        }
        
        @include mixins.for-tablet-portrait{
            font-size: 2.25rem;
        };

        span {
            .thin {
                font-weight: 300;
                font-size: 1.25rem;
                @include mixins.for-mobile-portrait {
                    font-size: 2.25rem;
                }
                
                @include mixins.for-tablet-portrait {
                    font-size: 2.25rem;
                }
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }

    }

    .header.dark {
        color: $secondary-color;
    }

}

.line {
    margin-top: 0;
    border-top: 0.5px solid $primary-color;
    border-bottom: 0.5px solid $primary-color;

}

.line.dark {
    border-top: 0.5px solid $secondary-color;
    border-bottom: 0.5px solid $secondary-color;

}
