.header-wrapper {
    padding: 3rem 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;

    @include for-mobile-portrait {
        padding: 1rem 5%;
    }

    @include for-tablet-portrait {
        padding: 1rem 5%;
    }

    @include for-mobile-landscape {
        padding: 1rem 5%;
    }

    .header {
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 800;
        font-size: 1.5rem;
        color: $third-color;

        @include for-mobile-portrait {
            font-size: .75rem;

        }

        ;


        @include for-tablet-portrait {
            font-size: .75rem;
        }

        ;

        span {
            .thin {
                font-weight: 300;
                font-size: 1.25rem;

                @include for-mobile-portrait {
                    font-size: .55rem;
                }

                @include for-tablet-portrait {
                    font-size: .55rem;
                }
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }

    }

    .header.dark {
        color: $secondary-color;
    }

}

.line {
    margin-top: 0;
    border-top: 0.5px solid $primary-color;
    border-bottom: 0.5px solid $primary-color;

}

.line.dark {
    border-top: 0.5px solid $secondary-color;
    border-bottom: 0.5px solid $secondary-color;

}