.flight-modal {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $modal-bg-color;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .flight-inner {
        min-width: 400px;
        min-height: 100px;
        width: 30%;
        height: 20%;
        position: relative;
        margin: auto;
        background-color: $secondary-bg-color;
        color: $third-color;
        padding: 15px;
        box-shadow: 2px 5px 13px rgb(0 0 0 / 60%);

        .button {
            position: absolute;
            bottom: 3rem;
            right: 2rem;

            @include for-tablet-landscape {
                bottom: 1rem;
            }

            @include for-mobile-landscape {
                bottom: 0rem;
            }

            img {
                display: none;
            }

        }
    }

}