@use '../variables.scss';

.popup {
    background-color: variables.$secondary-bg-color;
    position: absolute;
    display: none;
    bottom: -110%;
    color: variables.$third-color;
    right: calc(0% + 32px);
    padding: 10px 20px;
 
   grid-template-rows: auto auto auto;
    gap:2rem;
    min-width: 30%;
    box-shadow: 5px 7px 10px rgb(0 0 0 / 50%);

    h2{
        font-size:1rem;
        margin:0;
    }
    .radio-button-group{
        font-size: 0.8rem;
        align-items: center;
        display: flex;
        gap:1rem;
        .radio-button-wrapper{
            display: flex;
            align-items: center;
             input{
            margin:0 5px 0 0 ;
        }
        }
       
    }

    .passenger-amount{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap:1rem;
        font-weight: 700;
        .passenger-amount-action{
            display: flex;
            font-size: 1rem;
            gap:1rem;
            align-items: center;
            font-weight: 400;
            .button{
                border:none;
                border-radius: 5px;
                box-shadow: 1px 2px 5px rgb(0 0 0 / 30%);
                display: flex;
                justify-content: center;
                align-items: center;
                span{display: none;}
                img{
                    width:1rem;
                    height:1rem;
                }
            }
            span{
                min-width:1.5rem;
                text-align: center;
            }
        }
    }
}

.popup:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: -8px;
    right: 30%;
    z-index: 5;
}

.popup.show{
    display: grid;
}