.toggle-wrapper{
    display:flex;
    gap:1rem;
    color:inherit;
    font-weight: bold;
    font-size:1rem;
    align-items: center;
    @include for-mobile-portrait {
        font-size: 2.5rem;
    }
    
    
    
    @include for-tablet-portrait {
        font-size: 2.5rem;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        @include for-mobile-portrait {
        width: 128px;
        height: 68px;
        }
        
        @include for-tablet-portrait {
            width: 128px;
            height: 68px;
        }
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
            @include for-mobile-portrait {
                width:60px;
                height:60px;
            }
            
            @include for-tablet-portrait {
                width: 60px;
                height:60px;
            }
    }
    
    input:checked+.slider {
        background-color: #2196F3;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(60px);
        -ms-transform: translateX(60px);
        transform: translateX(60px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

}